.DS_Store
node_modules
dist
build
yarn.lock
mock/apis/base
mock/apis/biz
mock/apis/0-swagger
static/uipath.json
.next


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# deploy-config
static/deploy-config/**
!static/deploy-config/index.js
!static/deploy-config/README.md

!public/pdfjs/build